[defaults]
roles_path = ./roles
retry_files_enabled = False
host_key_checking = False
forks = 10
timeout = 30
log_path = ./ansible.log
remote_user = vagrant

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s
pipelining = True
